<div class="wrapper buckets num-4 in-between imagebg">
  <ul class="container">
    <style>
      .buckets .funeral-choices {
        background-image: url("../assets/img/Horses-1-480x270.jpg");
      }
    </style>
    <li class="funeral-choices">
      <a href="/funeral-choices">
        <span class="btn">Funeral Choices</span>
      </a>
    </li>
    <style>
      .buckets .coffins-and-caskets {
        background-image: url("../assets/img/iStock-828972906-480x270.jpg");
      }
    </style>
    <li class="coffins-and-caskets">
      <a href="/coffins-caskets">
        <span class="btn">Coffins &amp; Caskets</span>
      </a>
    </li>
    <style>
      .buckets .planning-ahead {
        background-image: url("../assets/img/iStock-861202474-480x270.jpg");
      }
    </style>
    <li class="planning-ahead">
      <a href="/planning-ahead">
        <span class="btn">Planning Ahead</span>
      </a>
    </li>
    <style>
      .buckets .funeral-costs {
        background-image: url("../assets/img/iStock-465280129-480x270.jpg");
      }
    </style>
    <li class="funeral-costs">
      <a href="/funeral-costs">
        <span class="btn">Funeral Costs</span>
      </a>
    </li>
  </ul>
</div>