<nav class="wrapper main-nav">
  <ul id="menu-main-nav" class="main-navigation">
    <li class="menu-item menu-item-type-post_type menu-item-object-page {% if page.title == 'What To Do When Death Happens' %}current-page-item{% endif %}">
      <a href="/when-death-happens">What To Do When Death Happens</a>
    </li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page {% if page.title == 'Funeral Choices' %}current-page-item{% endif %}">
      <a href="/funeral-choices">Funeral Choices</a>
    </li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page {% if page.title == 'Coffins & Caskets' %}current-page-item{% endif %}">
      <a href="/coffins-caskets">Coffins &amp; Caskets</a>
    </li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page {% if page.title == 'Planning Ahead' %}current-page-item{% endif %}">
      <a href="/planning-ahead">Planning Ahead</a>
    </li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page {% if page.title == 'Funeral Costs' %}current-page-item{% endif %}">
      <a href="/funeral-costs">Funeral Costs</a>
    </li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page {% if page.title == 'Donations & Floral Tributes' %}current-page-item{% endif %}">
      <a href="/donations-floral-tributes">Donations &amp; Floral Tributes</a>
    </li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page {% if page.title == 'SAIF Bereavement Care' %}current-page-item{% endif %}">
      <a href="/saif-bereavement-care">SAIF Bereavement Care</a>
    </li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page {% if page.title == 'Memorials' %}current-page-item{% endif %}">
      <a href="/memorials">Memorials</a>
    </li>
  </ul>			
</nav>