<nav class="wrapper main-nav">
  <ul id="menu-main-nav" class="main-navigation">
    <li class="menu-item menu-item-type-post_type menu-item-object-page">
      <a href="/when-death-happens">What To Do When Death Happens</a>
    </li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page">
      <a href="/funeral-choices">Funeral Choices</a>
    </li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page">
      <a href="/coffins-caskets">Coffins &amp; Caskets</a>
    </li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page">
      <a href="/planning-ahead">Planning Ahead</a>
    </li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page">
      <a href="/funeral-costs">Funeral Costs</a>
    </li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page">
      <a href="/donations-floral-tributes">Donations &amp; Floral Tributes</a>
    </li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page">
      <a href="/saif-bereavement-care">SAIF Bereavement Care</a>
    </li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page">
      <a href="/memorials">Memorials</a>
    </li>
  </ul>			
</nav>