<footer class="wrapper footer">
  <div class="wrapper footer-main">
    <div class="container">
      <div class="grid grid6_12">
        <div class="grid grid6_12">
          <p class="title">Services</p>
          <ul id="menu-services" class="footer-navigation">
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-445"><a href="/when-death-happens">When Death Happens</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-440"><a href="/funeral-choices">Funeral Choices</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-438"><a href="/coffins-caskets">Coffins &amp; Caskets</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-443"><a href="/planning-ahead">Planning Ahead</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-441"><a href="/funeral-costs">Funeral Costs</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-439"><a href="/donations-floral-tributes">Donations &amp; Floral Tributes</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-444"><a href="/saif-bereavement-care">SAIF Bereavement Care</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-442"><a href="/memorials">Memorials</a></li>
          </ul>                
        </div>

        <div class="grid grid6_12">
          <p class="title">More Info</p>
          <ul id="menu-more-info" class="footer-navigation">
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-6 current_page_item"><a href="/">Home</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/about-us">About Us</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/meet-the-team">Meet The Team</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/contact">Contact</a></li>
          </ul>              
        </div>
      </div>
      <div class="grid grid3_12">
        <p class="title">Get in Touch</p>
        <p class="address">Bowley &amp; Gallagher<br>209 Preston Road<br>Brighton <br>BN1 6SA</p>
        <p><a href="mailto:example@example.co.uk">example@example.co.uk</a></p>
        <p class="number">01275 456 239</p>
      </div>
      <div class="grid grid3_12">
        <p class="title">We Cover</p>
        <ul id="menu-locations" class="locations-navigation">
          <li class="menu-item menu-item-type-custom menu-item-object-custom">Preston</li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom">Brighton</li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom">Hassocks</li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom">Burgess Hill</li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom">Haywards Heath</li>
        </ul>            
      </div>
    </div><!-- /.container -->
  </div>
  <div class="wrapper footer-bottom">
    <div class="container">
      <p>© B &amp; G 2018. All Rights Reserved</p>
    </div><!-- /.container -->
  </div>
</footer>