<section class="gallery-outer">
  <div class="container">
    <ul class="owl-carousel owl-theme owl-responsive-1000 owl-loaded" id="owl-demo">
      <div class="owl-stage-outer">
        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1210px;">
          <div class="owl-item active" style="width: 292.5px; margin-right: 10px;">
            <li class="item">
              <a href="../assets/img/B_G_FS_Brighton_17AUG2016.SB0025.jpg" class="swipebox" title="">
                <img src="../assets/img/B_G_FS_Brighton_17AUG2016.SB0025-266x176.jpg" alt="">
              </a>               
            </li>
          </div>
          <div class="owl-item active" style="width: 292.5px; margin-right: 10px;">
            <li class="item">
              <a href="../assets/img/BAG-Main-Area-2.png" class="swipebox" title="">
                <img src="../assets/img/BAG-Main-Area-2-266x176.png" alt="">
              </a>               
            </li>
          </div>
          <div class="owl-item active" style="width: 292.5px; margin-right: 10px;">
            <li class="item">
              <a href="../assets/img/DSC_8002.png" class="swipebox" title="">
                <img src="../assets/img/DSC_8002-266x176.png" alt="">
              </a>               
            </li>
          </div>
          <div class="owl-item active" style="width: 292.5px; margin-right: 10px;">
            <li class="item">
              <a href="../assets/img/Staff-picture.png" class="swipebox" title="">
                <img src="../assets/img/Staff-picture-266x176.png" alt="">
              </a>               
            </li>
          </div>
        </div>
      </div>
      <div class="owl-controls">
        <div class="owl-nav">
          <div class="owl-prev" style="display: none;">prev</div>
          <div class="owl-next" style="display: none;">next</div>
        </div>
        <div class="owl-dots" style="">
          <div class="owl-dot active"><span></span></div>
        </div>
      </div>
    </ul>
  </div>	
</section>