<header class="wrapper header">
  <div class="container">
    <div class="content">
      <a class="logo" href="/">
        <img src="../assets/img/logo.png" alt="Bowley &amp; Gallagher Logo">
      </a>
      <div class="header-top-right">
        <p class="phone">
          <span class="ld-calltag">Call us today on</span> <span class="ld-phonenumber">01273 934 899</span>
        </p>
        <ul id="menu-top-nav" class="top-nav">
          <li id="menu-item-174" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-174">
            <a href="http://www.facebook.com">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li id="menu-item-175" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-175">
            <a href="http://www.twitter.com">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
        </ul>
      </div>		
    </div>
    <div class="content">
      {% include desktop-nav.html %}
    </div>
  </div><!-- /.container-->
</header>