<section class="wrapper hero bgcover">	
  <div class="container">	
    <div class="hero-content">
      <h2><span>Bowley &amp; Gallagher are a</span>Family Owned Funeral Directors</h2>
      <p><span class="ld-calltag">Call us today on</span> <span class="ld-phonenumber">01273 934 899</span></p>
      <div class="hero-cta">
        <a href="/funeral-choices" class="btn btn-border-blanc">Funeral Choices</a>
        <a href="/planning-ahead" class="btn btn-blanc">Planning Ahead</a>
      </div>
    </div>	
  </div>
</section>
<div class="wrapper buckets num-4 in-between imagebg">
  <ul class="container">
    <li class="funeral-choices">
      <a href="/funeral-choices">
        <span class="btn">Funeral Choices</span>
      </a>
    </li>
    <li class="coffins-and-caskets">
      <a href="/coffins-caskets">
        <span class="btn">Coffins &amp; Caskets</span>
      </a>
    </li>
    <li class="planning-ahead">
      <a href="/planning-ahead">
        <span class="btn">Planning Ahead</span>
      </a>
    </li>
    <li class="funeral-costs">
      <a href="/funeral-costs">
        <span class="btn">Funeral Costs</span>
      </a>
    </li>
  </ul>
</div>
{% include why-choose-us.html %}
