  <!-- For location pages // NEEDS CUSTOM FIELD TO WORK -->
  <script type="text/javascript" src="../assets/js/jquery.swipebox.min.js"></script>
  <script type="text/javascript">
  /* <![CDATA[ */
  var easySwipeBox_localize_init_var = {"lightbox":{"useCSS":true,"useSVG":true,"removeBarsOnMobile":true,"hideCloseButtonOnMobile":false,"hideBarsDelay":3000,"videoMaxWidth":1140,"vimeoColor":"cccccc","loopAtEnd":false,"autoplayVideos":false},"autodetect":{"autodetectImage":true,"autodetectVideo":true,"autodetectExclude":".no-swipebox"}};
  /* ]]> */
  </script>
  <script type="text/javascript" src="../assets/js/jquery.init.js"></script>
  <script type="text/javascript" src="../assets/js/main.js"></script>
  <script type="text/javascript" src="https://use.fontawesome.com/731f5cd381.js"></script>