<div class="meet-the-team">
  <h2 class="mtt-title">Meet The Team</h2>
  <div class="employee-wrapper">
    <div class="employee-profile">
        <img src="../assets/img/team-1.png" alt="">
        <p><strong>John Doe</strong></p>
        <p>Managing Director</p>
    </div>
    <div class="employee-profile">
        <img src="../assets/img/team-2.png" alt="">
        <p><strong>John Doe</strong></p>
        <p>Managing Director</p>
    </div>
    <div class="employee-profile">
        <img src="../assets/img/team-3.png" alt="">
        <p><strong>John Doe</strong></p>
        <p>Managing Director</p>
    </div>
    <div class="employee-profile">
        <img src="../assets/img/team-4.png" alt="">
        <p><strong>John Doe</strong></p>
        <p>Managing Director</p>
    </div>
    <div class="employee-profile">
        <img src="../assets/img/team-5.png" alt="">
        <p><strong>John Doe</strong></p>
        <p>Managing Director</p>
    </div>
    <div class="employee-profile">
        <img src="../assets/img/team-6.jpg" alt="">
        <p><strong>John Doe</strong></p>
        <p>Managing Director</p>
    </div>
  </div>
</div>