<div id="mm-blocker" class="mm-slideout"></div>
<div class="mobile-top-bar mm-slideout">
  <a class="stickyheader-left stickyheader-btn toggle-location-numbers"><i class="fa fa-phone"></i> Call us <i class="fa fa-angle-down"></i></a>
  <a class="stickyheader-right stickyheader-btn menu-btn" href="#mmenu"><i class="fa fa-bars"></i> Menu</a>
  <div class="mobile-location-numbers">
    <p class="main-phone">
      <span class="ld-calltag">Call us today on</span>
      <span class="ld-phonenumber">01273 934 899</span>
    </p>
    <div class="ld-locationnumbers-list"></div>
  </div>
</div>