<div id="mmenu" class="mm-menu mm-offcanvas mm-right">
  <div class="mm-panel mm-hasnavbar mm-opened mm-current" id="menu-mobile">
    <div class="mm-navbar">
      <a class="mm-title">Menu</a>
    </div>
    <ul class="mobile-navigation mm-listview">
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-6 current_page_item menu-item-548">
        <a href="/">Home</a>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-569">
        <a href="/when-death-happens">What To Do When Death Happens</a>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-558">
        <a href="/funeral-choices">Funeral Choices</a>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-550">
        <a href="/coffins-caskets">Coffins &amp; Caskets</a>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-566">
        <a href="/planning-ahead">Planning Ahead</a>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-562">
        <a href="/funeral-costs">Funeral Costs</a>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-557">
        <a href="/donations-floral-tributes">Donations &amp; Floral Tributes</a>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-568">
        <a href="/saif-bereavement-care">SAIF Bereavement Care</a>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-565">
        <a href="/memorials">Memorials</a>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-555">
        <a href="/contact">Contact</a>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-549">
        <a href="/about-us">About Us</a>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-564">
        <a href="/meet-the-team">Meet The Team</a>
      </li>
    </ul>
  </div>
</div>