<section class="why-choose">
  <div class="container">
    <div class="why-choose-us">
      <p class="title">Why Choose Us?</p>
      <ul>
        <li><i class="fa fa-check-circle-o fa-2x"></i> Established family owned firm</li>
        <li><i class="fa fa-check-circle-o fa-2x"></i> Dedicated &amp; professional care</li>
        <li><i class="fa fa-check-circle-o fa-2x"></i> Available for home visits</li>
        <li><i class="fa fa-check-circle-o fa-2x"></i> Tailored to your considerations</li>
      </ul>
    </div>		
  </div>
</section>