<html lang="en-GB">
  {% include head.html %}
  <body class="home page-template-default page page-id-6 clickup-chrome-ext_installed" data-gr-c-s-loaded="true" cz-shortcut-listen="true" style="padding-top: 40px;">
    {% include mobile-nav.html %}
    <div id="mm-0" class="mm-page mm-slideout">
      <div class="wrapper">
        {% include header.html %}
        {% if page.title == 'Home' %}
          {% include homepage-cta.html %}
        {% else %}
          {% include cta.html %}
        {% endif %}
      </div>
      <div class="back-top-wrap">
        <p id="back-top" style="display: none;">
          <a><i class="fa fa-arrow-up fa-2x"></i> Top</a>
        </p>
      </div>
    </div>
    {% include contact-cta.html %}
    <main class="wrapper main" role="main">
      <div class="container">
        {% if page.title == 'Meet The Team' %}
          <article class="grid grid12_12 content">
            {% include meet-the-team.html %}
          </article>
        {% else %}
          <article class="grid grid8_12 content">
            <div class="copy">
              {{ content }}
            </div>
          </article>
          <aside class="sidebar grid grid4_12">
            <!-- Every other page sidebar content -->
            {% if page.title == 'Contact Us' %}
              {% include contact-sidebar.html %}
            {% else %}
              {% include contact-form.html %}
            {% endif %}
          </aside>
        {% endif %}
      </div>
    </main>
    {% if page.title != 'Home' %}
      {% include why-choose-us.html %}
    {% endif %}
    {% if page.title != 'Meet The Team' %}
      {% include gallery.html %}
      {% endif %}
    {% include contact-banner.html %}
    <!-- Back to top arrow -->
    {% include footer.html %}
    {% include javascript.html %}
    {% include mobile-nav-top.html %}
  </body>
</html>